{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Home{% endblock %}
{% block meta %}
<meta name="description" content="Pixel It is a software development company that specializes in creating scalable software solutions for businesses of all sizes.">
{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
  <section class="container hero-sub">
    <div class="row">
      <div class="col col-sm-6">
        <h1>About <span>Us</span></h1>
      </div>
      <div class="col col-sm-6">
        <p>Pixel It was founded in 2018 by a group of software developers who wanted to create a company that focused on creating scalable software solutions for businesses of all sizes.</p>
      </div>
    </div>
  </section>
  <section class="intro">
    <div class="container">
      <div class="row">
        <div class="col col-sm-6">
          <h2>Our <span>Approach</span></h2>
        </div>
        <div class="col col-sm-6">
          <p>We aren't just coders who follow a set of instructions - we are artists that push boundaries and force each other out of our comfort zones. We take pride in venturing into unknown challenges and drawing inspiration from every facet of society and culture.</p>
          <p>You'll never see us take the easy approach to anything we do. We love partnering with clients who have the same mindset and like to take whatever opportunity we can to make digital waves that have an impact.</p>
          <p>
            <a href="#" class="btn btn-custom">
              Contact Us
              <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
              </svg> 
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="team">
    <div class="container">
      <div class="row">
        TEAM GOES HERE
      </div>
    </div>
  </section>
  <section class="values container-fluid">
    <div class="container">
      <div class="row">
        <h2>OUR <span>VALUES</span></h2>
        <p>WHY WE LOVE MONDAYS</p>
      </div>

      <div class="row">
        <div class="col col-sm-6">
          <span>01/</span>
          <h3>Understand</h3>
          <p>We take the time to understand your business and your goals so that we can create custom software that helps you achieve them.</p>
        </div>
        <div class="col col-sm-6">
        </div>
      </div>

      <div class="row">
        <div class="col col-sm-6">
          <span>02/</span>
          <h3>Dive In</h3>
          <p>We take the time to understand your business and your goals so that we can create custom software that helps you achieve them.</p>
        </div>
        <div class="col col-sm-6">
        </div>
      </div>

      <div class="row">
        <div class="col col-sm-6">
          <span>03/</span>
          <h3>Explore</h3>
          <p>Every site we create is unique, this means spending a little extra time on every project to really understand the problem and therefore the solution, then invent a fun, creative way of implementing the solution that is enjoyable and memorable for the end user.</p>
        </div>
        <div class="col col-sm-6">
          
        </div>
      </div>
      
      <div class="row">
        <div class="col col-sm-6">
          <span>04/</span>
          <h3>Keep It Clean</h3>
          <p>We have a rigorous testing procedure for everything we do. This means that what we create will do what it's supposed to. every. time. We don't leave dirty code behind for other people to clean up.</p>
        </div>
        <div class="col col-sm-6">
          
        </div>
      </div>

      <div class="row">
        <div class="col col-sm-6">
          <span>04/</span>
          <h3>Create Impact</h3>
          <p>We take the time to understand your business and your goals so that we can create custom software that helps you achieve them.</p>
        </div>
        <div class="col col-sm-6">
          
        </div>
      </div>
    </div>
  </section>
  <section class="mission container-fluid">
    <div class="container">
      <div class="row">
        <div class="col col-sm-6">
          <h2>OUR <span>MISSION</span></h2>
          <p>TO CREATE DIGITAL WAVES THAT HAVE AN IMPACT</p>
        </div>
        <div class="col col-sm-6">
          <p id="mission-statement">Our mission is to create digital waves that have an impact. We believe that the best way to do this is by creating custom software that helps businesses grow and succeed. We take the time to understand your business and your goals so that we can create software that helps you achieve them.</p>
          <div id="refresh">
            <button>SHOW ANOTHER</button>
          </div>
        </div>
      </div>
    </div>
  </section>  
{% endblock %}

