{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Blog{% endblock %}
{% block meta %}
<meta name="description" content="Pixel It is a software development company that specializes in creating scalable software solutions for businesses of all sizes.">
{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
  <header class="section-padding container">
    <div class="row">
      <div class="col-sm-12 pt-5">
        {% for category in post.categories.all %}
          <span>{{ category.name }}</span>
        {% endfor %}
        <h1 class="section-title">{{ post.title }}</h1>
        <p>{{ post.created_by }}</p>
      </div>
    </div>
  </header>
  <section>
    <article class="container-fluid light-bg section-padding">
      <div class="container">
        <div class="row pb-5">
          <div class="col-12">
            {% if post.cover_image %}
            <img src="{{ post.cover_image.url }}" class="img-fluid" alt="{{ post.title }}">
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col-12 article-body">
            {{ post.body | linebreaks }}
          </div>
        </div>
      </article>
    </div>
  </section>
  <section class="container-fluid light-bg">
    <div class="container">
      {% for comment in comments %}
        <div class="row">
          <div class="col-12">
            <h3>{{ comment.name }}</h3>
            <p>{{ comment.body }}</p>
          </div>
        </div>
      {% endfor  %}
    </div>
  </section>
  <section class="container-fluid section-padding light-bg">
    <div class="container">
      {% if user.is_authenticated %}
      <!-- % url 'comment' post.slug % -->
        <form action="#" method="post">
          {% csrf_token %}
          <p>ADD A FORM HERE</p>
          </form>
      {% else %}
      <div class="row">
        <div class="col-sm-12">
          <p>Please <a href="{% url 'account_login' %}">Log In</a> to leave a comment</p>
        </div>
      </div>
      {% endif %}
    </div>
  </section>

{% endblock %}