{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Contact{% endblock %}
{% block meta %}
<meta name="description" content="Pixel It is a software development company that specializes in creating scalable software solutions for businesses of all sizes.">
{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}

<section class="container hero-sub">
  <div class="row">
    <div class="col col-sm-6">
      <h1 class="title">Contact <span>Us</span></h1>
    </div>
    <div class="col col-sm-6">
      <p>Great things happen when you take a leap!</p>
    </div>
  </div>
</section>
<section class="contact-form light-bg section-padding">
  <div class="container">
    <form action="{% url 'contact' %}" method="POST">
      {{ csrf_token}}
      {{ form.as_p }}
      <input type="submit" value="Submit" class="btn btn-custom">
    </form>
  </div>
</section>

  {% include 'home/partials/faq.html' %}

{% endblock %}