{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Contact{% endblock %}
{% block meta %}
<meta name="description" content="Pixel It is a software development company that specializes in creating scalable software solutions for businesses of all sizes.">
{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}

<section class="container hero-sub">
  <div class="row">
    <div class="col col-sm-6">
      <h1 class="title">Contact <span>Us</span></h1>
    </div>
    <div class="col col-sm-6">
      <p>Great things happen when you take a leap!</p>
    </div>
  </div>
</section>
<section class="contact-form light-bg section-padding">
  <div class="container">
    <form action="{% url 'contact' %}" method="POST">
      {% csrf_token %}
      {{ form }}
      <button type="submit" value="Submit" class="btn btn-custom">
        Submit
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
        </svg>
      </button>
    </form>
  </div>
</section>

  {% include 'home/partials/faq.html' %}

{% endblock %}