{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Home{% endblock %}
{% block meta %}
<meta name="description" content="Pixel It is a software development company that specializes in creating scalable software solutions for businesses of all sizes.">
{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}

  {% include 'home/partials/main-hero.html' %}
  {% include 'home/partials/services.html' %}
  {% include 'home/partials/modus.html' %}
  {% if portfolio_posts %}
    {% include 'home/partials/portfolio-section.html' %}
  {% endif %}
  {% if blog_posts %}
    {% include 'home/partials/articles-section.html' %}
  {% endif %}
{% include 'home/partials/faq.html' %}
{% endblock %}