{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Message Successfully Sent{% endblock %}
{% block meta %}
<meta name="description" content="Pixel It is a software development company that specializes in creating scalable software solutions for businesses of all sizes.">
{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
  <section class="container hero-sub"></section>
    <div class="row">
      <div class="col col-sm-6">
        <h1 class="title">Message <span>Sent!</span></h1>
      </div>
      <div class="col col-sm-6">
        <p>We've recieved your message!</p>
      </div>
    </div>
  </section>
{% endblock %}