{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Portfolio{% endblock %}
{% block meta %}
<meta name="description" content="Pixel It is a software development company that specializes in creating scalable software solutions for businesses of all sizes.">
{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}

<section class="container hero-sub">
  <div class="row">
    <div class="col col-sm-6">
      <h1 class="title">Our <span>Portfolio</span></h1>
    </div>
    <div class="col col-sm-6">
      <p>See what we can do!</p>
    </div>
  </div>
</section>

<section class="container-fluid light-bg section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 pb-5">
        <a href="">
          <div class="image-container">
            <img src="" alt="Portfolio Image">
            <span>category</span>
          </div>
          <h2>Portfolio Title</h2>
        </a>
      </div>
      <div class="col-sm-4 pb-5">
        <a href="" class="">
          <div class="image-container">
            <img src="" alt="Portfolio Image">
            <span>category</span>
          </div>
          <h2>Portfolio Title</h2>
        </a>
      </div>
      <div class="col-sm-4 pb-5">
        <a href="">
          <div class="image-container">
            <img src="" alt="Portfolio Image">
            <span>category</span>
          </div>
          <h2>Portfolio Title</h2>
        </a>
      </div>
      <div class="col-sm-4 pb-5">
        <a href="">
          <div class="image-container">
            <img src="" alt="Portfolio Image">
            <span>category</span>
          </div>
          <h2>Portfolio Title</h2>
        </a>
      </div>
    </div>
  </div>
</section>



{% endblock %}