/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Syne:wght@400..800&display=swap');

/*
  Global Styles
*/

:root {
  --base-font-size: 1rem;
}

.title-text {
  font-size: calc(var(--base-font-size) * 5);
}

.title-p {
  font-size: calc(var(--base-font-size) * 2);
  letter-spacing: 1px;
  line-height: 1.2;
}

.section-title {
  font-size: calc(var(--base-font-size) * 6);
  font-weight: 100;
  text-transform: uppercase;

  span {
    margin-top: 15px;
    display: block;
    padding-left: 100px;
    font-size: calc(var(--base-font-size) * 6);
  }
}

@media screen and (max-width: 1024px) {
  .title-text {
  }
  
  .title-p {
  }
  
  .section-title {
  
    span {
    }
  }
}

.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.dark-bg {
  background-color: var(--midnight-blue);
  color: #fff;
}

.light-bg {
  background: rgba(255, 255, 255, 0.8);
}

html {
  scroll-behavior: smooth;
  --midnight-blue: #343434;
  --color-1: #a8e6cf; 
  --color-2: #dcedc1 ; 
  --color-3: #ffd3b6 ;  
  --color-4: #ffaaa5 ;
}

body {
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: var(--midnight-blue);
}

p, a, a.btn {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.canv-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  padding: 0;
  margin: 0;
}

#canv {
  width:100%;
  height:100%;
  --gradient-color-1: var(--color-1); 
  --gradient-color-2: var(--color-2);
  --gradient-color-3: var(--color-3);
  --gradient-color-4: var(--color-4);
}

.btn-primary {
  background-color: transparent;
  border: 2px solid var(--midnight-blue);
  color: #000;
  font-size: 2rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.morphic {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  box-shadow: 0px 5px 15px hsl(0deg 0% 0% / 0.15);
}

.btn-custom {
  font-size: calc(var(--base-font-size) * 1.2);
  border: 2px solid var(--midnight-blue);
  border-radius: 36px;
  padding: 5px 20px;
  transition: all 0.3s ease-in-out;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 1px;

  svg {
    transition: all 0.3s ease-in-out;
  }
}

.btn-custom:hover {
  background-color: var(--midnight-blue);
  color: #fff;

  svg {
    color: #fff;
    margin-left: 20px;
  }
}

.hero-small {
  padding-top: 150px;
  padding-bottom: 50px;

  h1 {
    font-size: calc(var(--base-font-size) * 6);
    font-weight: 100;
  }
}

/*
  Navbar Styles
*/

nav {
  padding: 15px 0;
}

#menu-container {
  position: absolute;
  top: 75px;
  right: 0;
  padding: 15px;
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.3s ease-in-out;
  border-radius: 0 0 5px 5px;
}

#menu-container.hidden {
  opacity: 0;
  pointer-events: none;
}

#menu-container li {
  margin-bottom: 15px;

  a {
    text-decoration: none;
    color: var(--midnight-blue);
    font-size: calc(var(--base-font-size) * 1.5);
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    padding: 5px 15px;
  }
}

a.logo {
  font-size: calc(var(--base-font-size) * 1.5);
  border: 4px solid var(--midnight-blue);
  font-weight: 900;
  color: var(--midnight-blue);
  text-decoration: none;
  padding: 5px 15px;
}

button.hamb {
  color: var(--midnight-blue);
  position: relative;
  margin-right: -.625rem;
  border-width: 0px;
  background-color: transparent;
  padding: 0;
  float: right;

  .ham {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    height: 60px;
    width: 60px;
    cursor: pointer;
    transition-duration: .3s;

    .middle {
      transform-origin: 50%;
      stroke-dasharray: 40 142;
    }

    .bottom {
      transform-origin: 50%;
      stroke-dasharray: 40 85;
    }
  }

  .top {
    stroke-dasharray: 40 160;
  }

  .line {
    fill: none;
    stroke: black;
    stroke-width: 5;
    transition-duration: .3s;
    stroke-linecap: round;
  }
}

.hamb.active svg {
  --tw-rotate: 45deg;
  transform: rotate(var(--tw-rotate));

  .top {
    stroke-dashoffset: -64px;
  }

  .middle {
    --tw-rotate: 90deg;
    transform: rotate(var(--tw-rotate));
  }

  .bottom {
    stroke-dashoffset: -64px;
  }
} 

/*
  Index Hero Image
*/

.home-hero {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform-origin: center;

  h1 {
    cursor: pointer;

    span.hover-pop:nth-child(2) {
      padding-left: 5rem;
    }
    
    span.hover-pop {
      display: block;
      line-height: 1;

      .letter {
        transition: all 0.3s ease-in-out;
        transform: translateY(0rem);
        display: inline-block;
      }
  
      .letter:hover {
        transform: translateY(-10px) rotate(-15deg) scale(1.1);
      }
    }
  }

  p {
    max-width: 50%;
    margin-left: auto;
    color: var(--midnight-blue);
    margin-top: 2rem;
    text-align: end;
  }
}

/*
  Services Summary
*/

.services-summary {
  .service {
    margin-top: 2rem;
    border-radius: 4rem;
    padding: 3rem;

    h3 {
      font-size: calc(var(--base-font-size) * 3);
      font-weight: 100;
      margin-bottom: 1.5rem;
      line-height: 1;
    }

    p {
      font-size: calc(var(--base-font-size) * 1.4);
      color: var(--midnight-blue);
      letter-spacing: 1px;
      margin-top: 1rem;
      line-height: 1.2;
      margin-bottom: 1rem;
    }
  }
}

/*
  Modus Section
*/

.modus {
  h2 {
    text-align: center;
    max-width: 75%;
    margin: 5rem auto;
    padding-bottom: 2rem;
    font-style: italic;
    color: var(--midnight-blue);
  }

  h3 {
    font-size: 6rem;
    font-weight: 100;
  }

  p {
    font-size: calc(var(--base-font-size) * 2);
  }

  li {
    opacity: 0.4;
    border-bottom: 4px solid var(--midnight-blue);
    padding: 2rem 0;
    transition: opacity 0.3s ease-in-out;
  }

  .modus-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      max-width: 75%;
      margin-left: auto;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
  }

  li:hover {
    opacity: 1;

    .modus-desc p {
      opacity: 1;
    }
  }
}

/*
  Home Project Cards Section
*/

.home-project {
  h2 {
    padding-top: 50px;
    color: #fff;
  }

  p {
    font-size: calc(var(--base-font-size) * 1.4);
    color: #fff;
    letter-spacing: 1px;
    margin-top: 2rem;
    line-height: 1.2;
  }

  .project-card {
    text-decoration: none;
    position: relative;
    overflow: hidden;
    min-height: 300px;
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.6);
    margin-bottom: 30px;
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h3 {
      color: #fff;
      padding-top: 15px;
      padding-left: 15px;
      font-weight: 100;
      letter-spacing: 1px;
      font-size: calc(var(--base-font-size) * 1.2);
      padding-bottom: 15px;
      background-color: var(--midnight-blue);
    }

    .project-date {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: var(--midnight-blue);
      color: #fff;
      padding: 5px 10px;
      font-size: calc(var(--base-font-size) * 1.2);
    }

    .project-excerpt {
      position: absolute;
      top: 17px;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      pointer-events: none;
      transition: 0.5s ease-in-out;
      background: rgba(0,0,0,0.5);
      text-align: center;
      padding: 15px;
      padding-top: 10%;
    }

    &:hover .project-excerpt {
      opacity: 1;
    }
  }

  .btn-custom {
    display: inline-block;
    margin: 0 auto;
    color: #fff;
    border: 1px solid #fff;
    max-width: 250px;
    margin-top: 50px;

    &:hover {
      background-color: #fff;
      color: var(--midnight-blue);

      svg {
        color: var(--midnight-blue);
      }
    }
  }
}

/*
  Home Articles Section
*/

.articles-home {
  h2 {
    color: #fff;
    margin-bottom: 25px;
    padding-bottom: 15px;
  }

  .article-link {
    background: #fff;
    overflow: hidden;
    border-radius: 0 80px 0 0;
    text-decoration: none;
    display: block;
    padding-bottom: 30px;

    span {
      letter-spacing: 1px;
      text-decoration: none;
      color: var(--midnight-blue);
      font-weight: 100;
      text-transform: uppercase;
      padding: 15px;
      margin-top: 15px;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
      margin-bottom: 15px;
    }

    h2 {
      color: var(--midnight-blue);
      margin-bottom: 15px;
      padding: 15px;
      font-size: calc(var(--base-font-size) * 1.4);
    }
  }

  .btn-custom {
    display: inline-block;
    margin: 0 auto;
    color: #fff;
    border: 1px solid #fff;

    &:hover {
      background-color: #fff;
      color: var(--midnight-blue);

      svg {
        color: var(--midnight-blue);
      }
    }
  }
}

.faq {
  h2 {
    color: #fff;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding-bottom: 25px;

    .faq-q {
      position: relative;  
      padding-left: 25px;
      font-size: calc(var(--base-font-size) * 2);
      margin-bottom: 25px;
      max-width: 44ch;
      cursor: pointer;

      &:before {
        position: absolute;
        content: "+";
        font-family: "Source Sans 3", sans-serif;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        transition: all 0.3s ease-in-out;
      }
    }

    .faq-a {
      overflow: hidden;
      clip: rect(auto, auto, 0, auto);
      position: absolute;
      transition: all 0.3s ease-in-out;
      padding-left: 25px;
      opacity: 0;

      p {
        max-width: 44ch;
        line-height: 1.2;
        font-size: calc(var(--base-font-size) * 2);
      }
    }
  }

  .faq-item {
    padding-bottom: 15px;
    transition: padding-bottom 0.3s ease-in-out;

  }

  .faq-item.active {
    padding-bottom: 200px;

    .faq-a {
      opacity: 1;
      clip: rect(auto, auto, 10rem, auto);
    }

    .faq-q {

      &:before {
        transform: translate(0, -50%) rotate(45deg);
      }
    }

  }
}

/*
  Footer Styles
*/

footer {
  .footer-contact-email {
    font-size: calc(var(--base-font-size) * 2);
    color: #fff;
    padding-bottom: 25px;
    text-decoration: none;
  }

  a.logo {
    font-size: calc(var(--base-font-size) * 2);
    border: 4px solid #fff;
    font-weight: 900;
    color: #fff;;
    text-decoration: none;
    padding: 5px 15px;
    display: inline;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li  {
      margin-bottom: 15px;
    
      a {
        color: #fff;
        text-decoration: none;
        font-size: calc(var(--base-font-size) * 2);
        padding-left: 30px;

          svg {
            margin-right: 0;
            transition: all 0.3s ease-in-out;
          }

          &:hover {
            svg {
              margin-right: 25px;
            }
          
          }
      }
    }
  }
}

/*
  About Page Styles
*/

.hero-sub {
  padding-top: 150px;
  padding-bottom: 100px;

  h1 {
    font-size: calc(var(--base-font-size) * 6);
    line-height: 1.2;

    span {
      display: block;
      padding-left: 50px;
    }
  }

  p {
    text-align: center;
    font-size: calc(var(--base-font-size) * 2);
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.intro {
  p {
    margin-bottom: 15px;
  }
}

.values {
  .values-title {
    position: relative;

    p {
      position: absolute;
      bottom: 15px;
      text-align: right;
      font-size: calc(var(--base-font-size) * 2);
      margin-bottom: 25px;
    }

    h2 {
      margin-bottom: 50px;
      padding-top: 50px;
    }
  }

  .value-item {
    margin: 15px 0;
    padding: 25px 15px;

    span {
      font-size: calc(var(--base-font-size) * 2);
      color: var(--midnight-blue);
      font-family: "Source Sans 3", sans-serif;
      font-optical-sizing: auto;
      font-weight: 100;
      font-style: normal;
      letter-spacing: 1px;
      display: block;
    }

    h3 {
      margin: 15px 0;
      padding: 15px;
      border-radius: 35px;
      background-color: var(--color-1);
      display: inline-block;
    }

    p {
      line-height: 1.2;
      font-size: 1.1rem;;
    }
  }
}

.mission {
  padding-top: 50px;
  padding-bottom: 50px;

  p {
    line-height: 1.2;
    font-size: calc(var(--base-font-size) * 1.2);
    margin-bottom: 50px;
    min-height: calc(100% - 100px);
    letter-spacing: 1px;
  }
}

/*
  Login/Register Page Styles
*/

.form-login, .form-register {

  label {
    margin-bottom: 15px;
  }

  input:not([type='checkbox']) {
    display: block;
    width: 100%;
    margin-bottom: 30px;width: 100%;
    padding: .375rem .75rem;
    font-size: calc(var(--base-font-size));
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  #id_password_helptext {
    display: block;
    padding-bottom: 30px;
  }

  ul {
    margin-bottom: 30px;
  }
}