
<section class="dark-bg container-fluid section-padding faq">
  <div class="container">
    <div class="row">
      <h2 class="mb-5 section-title">FAQ's</h2>
    </div>
    <div class="row">
      <ul id="faq-list">
        <li class="faq-item">
          <p class="faq-q">
            How much does it cost to develop a website?
          </p>
          <div class="faq-a">
            <p>
              The cost of developing a website can vary depending on the complexity of the project. We offer a range of packages to suit different budgets, so get in touch to discuss your requirements. 
            </p>
          </div>
        </li>
        <li class="faq-item">
          <p class="faq-q">
            How long does a project typically take?
          </p>
          <div class="faq-a">
            <p>
              The time it takes to complete a project can vary depending on the complexity of the project and the scope of work involved. We will work with you to establish a timeline that works for you and your business.
            </p>
          </div>
        </li>
        <li class="faq-item">
          <p class="faq-q">
            Can you accomodate tight dealines?
          </p>
          <div class="faq-a">
            <p>
              We understand that sometimes you need things done quickly. We will do our best to accomodate your needs and work with you to establish a timeline that works for you.
            </p>
          </div>
        </li>
        <li class="faq-item">
          <p class="faq-q">
            What ongoing support and maintenance do you offer?
          </p>
          <div class="faq-a">
            <p>
              We offer a range of support and maintenance packages to suit your needs. Get in touch to discuss your requirements and we will be happy to help.
            </p>
          </div>
        </li>
        <li class="faq-item">
          <p class="faq-q">
            How do you handle revisions and feedback during the design process?
          </p>
          <div class="faq-a">
            <p>
              Our customer service portal allows you to submit feedback and revisions at any time during the design process. We will work with you to ensure that you are happy with the final product.
            </p>
          </div>
        </li>
        <li class="faq-item">
          <p class="faq-q">
            Are there additional costs for digital marketing services integrated into web projects?
          </p>
          <div class="faq-a">
            <p>
              We offer a range of digital marketing services to help you promote your website and reach your target audience. Get in touch to discuss your requirements and we will be happy to help.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>