<section class="container-fluid modus section-padding">
  <div class="container">
    <div class="row">
      <h2 class="section-title">We craft tailored website solutions built on 3 core principles</h2>
    </div>
    <div class="row">
      <ul>
        <li>
          <div class="row">
            <div class="col col-md-6">
              <p>01/</p>
              <h3>Form</h3>
            </div>
            <div class="col col-md-6 modus-desc">
              <p>We love to develop websites that you can be proud of and brings your brand to life!</p>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col col-md-6">
              <p>02/</p>
              <h3>Function</h3>
            </div>
            <div class="col col-md-6 modus-desc">
              <p>Usability and intuitiveness are at the forefront of everything we do!</p>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col col-md-6">
              <p>03/</p>
              <h3>Finesse</h3>
            </div>
            <div class="col col-md-6 modus-desc">
              <p>Solutions that resonate with your customers and makes their life easier!</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>