{% load static %}

<section class="container-fluid services-summary section-padding light-bg">
  <div class="container">
    <div class="row">
      <h2 class="section-title">Our <span>Services</span></h2>
    </div>
    <div class="row service">
      <div class="col-sm-12 col-md-4 mt-3 service-item">
        <img src="{% static 'img/laptop-dev.jpg' %}" alt="laptop with development software running" class="img-fluid">
        <h3>Web Dev</h3>
        <p>Our team of experienced web developers can help you create a custom website that meets your unique needs and helps you achieve your business goals.</p>
        <a href="#" class="btn btn-custom">
          Learn More
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
          </svg>          
        </a>
      </div>
      <div class="col-sm-12 col-md-4 mt-3 service-item">
        <img src="{% static 'img/laptop-dev.jpg' %}" alt="laptop with development software running" class="img-fluid">
        <h3>Branding</h3>
        <p>Our team of experienced designers can help you create a custom brand that reflects your unique identity and helps you stand out from the competition.</p>
        <a href="#" class="btn btn-custom">
          Learn More
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
          </svg>          
        </a>
      </div>
      <div class="col-sm-12 col-md-4 mt-3 service-item">
        <img src="{% static 'img/laptop-dev.jpg' %}" alt="laptop with development software running" class="img-fluid">
        <h3>SEO</h3>
        <p>Our team of experienced SEO experts can help you optimize your website for search engines and improve your online visibility.</p>
        <a href="#" class="btn btn-custom">
          Learn More
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
          </svg>          
        </a>
      </div>
    </div>
  </div>
</section>